#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# GO-Move configuration
########################################
#
#
#    GOMove.Announce 
#        Description: Announce the GOMove Module at logon.
#        Default:     GOMove.Announce   = 1
#

GOMove.Announce = 1
